body{
  background: #eee;
}

.container{
  margin-top: 50px;
}

#wrongLogin{
  display: none;
}

#trackingData{
  display:none;
}

#average, #individual, #adminLoginForm{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

#adminLoginForm{
  padding: 30px 40px;
}

h2{
  text-align: center;
  background: #555;
  color: #fff;
  padding: 15px;
}

#average h4{
  margin-top: 40px;
  color: #999;
  margin-left: 8px;
}

#individual h4{
  padding: 0px 10px;
}

#individual .title{
  background: #ddd;
  color: #666;
  padding: 10px;
}
#individual .date{
  float: right;
  color: #aaa;
}

#individual table{
  margin-bottom: 0;
}


.table th{
  text-align:right;
}

.clear{
  clear:both;
}
.specificQuestions{
  margin-bottom: 40px;
  margin-top: 10px;
  display: block !important;
}
.specificQuestions .question{
  float:left;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border: 1px solid #fff;
  color: #666;
}
.specificQuestions .question.correct.pos1{
  background: url('../img/analytics-assets/correct-one.png') no-repeat;
}
.specificQuestions .question.correct.pos2{
  background: url('../img/analytics-assets/correct-two.png') no-repeat;
}
.specificQuestions .question.correct.pos3{
  background: url('../img/analytics-assets/correct-three.png') no-repeat;
}
.specificQuestions .question.correct.pos4{
  background: url('../img/analytics-assets/correct-four.png') no-repeat;
}
.specificQuestions .question.incorrect.pos1{
  background: url('../img/analytics-assets/incorrect-one.png') no-repeat;
}
.specificQuestions .question.incorrect.pos2{
  background: url('../img/analytics-assets/incorrect-two.png') no-repeat;
}
.specificQuestions .question.incorrect.pos3{
  background: url('../img/analytics-assets/incorrect-three.png') no-repeat;
}
.specificQuestions .question.incorrect.pos4{
  background: url('../img/analytics-assets/incorrect-four.png') no-repeat;
}
.specificQuestions .question.pos0{
  background: #ddd;
}




/* content upload */

/*  V2 */
#contentUpload.container{
  width: 1200px;
}

#contentForm{
  margin-top: 50px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  /*  V2 */
  float:left;
}

/*  V2 */
#existingList{
  margin-top: 50px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 380px;
  float:right;
}

#existingList th{
  text-align:left;
}

#existingList tr:hover{
  cursor: pointer;
}

#link, #contentName{
  width: 700px;
}

.hint{
  color: #999;
  font-weight: italic;
  margin-bottom: 40px;
}

#submit{
  margin-bottom: 30px;
  float: right;
}

#update-success, #update-error, #update-error-format{
  display: none;
}
