/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent highlight when tapping */
    background-color: #ccc;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    /*padding-top: 2%;*/

}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#gameContainer{
  position: absolute;
  height: 100%;
  width: 100%;

}

/* make game container narrow-shaped if on desktops, tablets, etc. */
@media only screen 
and (min-device-width: 450px){
  #gameContainer{
    width: 450px;
    left: 50%;
    margin-left: -225px;
  }
}
@media only screen 
and (min-device-height: 700px){
  #gameContainer{
    height: 700px;
    top: 50%;
    margin-top: -350px;
  }
}



#gameCanvas{
    position:absolute;
    top:0%;
}

#screen {
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
    
    overflow: hidden;
    
    background: white;
    
    position: relative;
}

/*img {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
}*/




/*----------------- questions -------------------*/


table {
    width:100%;
    height:100%;
    -moz-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
    text-align:center;
}

#ques{
    position: absolute;
    top: 15%;
    left: 7%;
    z-index: 20;
    font-size: 20px;
    width: 86%;
    height: 70%;
    background-image: url('/img/race-assets/question-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#backgroundFader{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 10;
  display: none;
  top:0;
}

#Q {
    color:white;
    height: 30%;
    text-align: left;
    font-size: 16px;
}

#Q td{
    padding: 5%;
    padding-right: 20%;
}

#progressBar {
  height:7%;
  position:relative;
  color:white;
  background-image: linear-gradient(bottom, rgb(100,101,102) 38%, rgb(66,66,66) 69%);
background-image: -o-linear-gradient(bottom, rgb(100,101,102) 38%, rgb(66,66,66) 69%);
background-image: -moz-linear-gradient(bottom, rgb(100,101,102) 38%, rgb(66,66,66) 69%);
background-image: -webkit-linear-gradient(bottom, rgb(100,101,102) 38%, rgb(66,66,66) 69%);
background-image: -ms-linear-gradient(bottom, rgb(100,101,102) 38%, rgb(66,66,66) 69%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.38, rgb(100,101,102)),
  color-stop(0.69, rgb(66,66,66))
);
}

#progressBarInner {
  background-image: linear-gradient(bottom, rgb(103,160,62) 13%, rgb(134,192,93) 57%);
background-image: -o-linear-gradient(bottom, rgb(103,160,62) 13%, rgb(134,192,93) 57%);
background-image: -moz-linear-gradient(bottom, rgb(103,160,62) 13%, rgb(134,192,93) 57%);
background-image: -webkit-linear-gradient(bottom, rgb(103,160,62) 13%, rgb(134,192,93) 57%);
background-image: -ms-linear-gradient(bottom, rgb(103,160,62) 13%, rgb(134,192,93) 57%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.13, rgb(103,160,62)),
  color-stop(0.57, rgb(134,192,93))
);
  height:100%;
}

#progressBar a {
  position:absolute;
  top:0px;
  right:2px;
  padding:4px;
  font-size: 12px;
}

#popQ td{
  z-index: 20;
}

#popQ .qFeedback{
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    z-index: -10;
}

.qFeedback.correct{
    background: rgba(0,255,0,0.3) url('/img/race-assets/checkmark.png') bottom right no-repeat;
    background-size: 35%;
}
.qFeedback.wrong-right{
    background: rgba(0,255,0,0.3);
}
.qFeedback.wrong-choice{
    background: rgba(255,0,0,0.3);
}

#choice1, #choice2, #choice3, #choice4 {
   width:50%;
   position: relative;
/*   background-color:yellow;*/
}

.crossed{
    text-decoration: line-through;
    color: #777;
    font-style: italic;
}

#countdown{
  position: absolute;
  top: -5%;
  right: -5%;
  width: 20%;
/*  height: 20%;*/
  background: url('/img/race-assets/countdown-bg.png') no-repeat;
  background-size: 100%;
}

#countdown-inner{
/*  width: 88%;
  height: 88%;
  position: relative;
  top: 6%;
  left: 6%;
  background-color: rgba(255,0,0,0.3);
  border-radius: 50%;
  color: #444;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 110px;*/

  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 48%;
  margin-top: -25%;
  margin-left: -24%;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
/*  padding-top: 5%;*/
  -webkit-animation: none; 
}

#countdown-inner.alert{
  color: #ff0000;
  -webkit-animation: blinkTwo 0.3s infinite alternate; 
}

#qPowers{
  position: absolute;
  top: 16%;
  right: -5%;
  width: 30%;
  height: 15%;
/*  background: rgba(0,255,0,0.5);
*/}

#qPowers .power{
  display: inline-block;
  float: right;
  width: 40%;
  height: 100%;
}

#qPowers .eliminate{
  background: url('/img/race-assets/powerup-eliminate.png') no-repeat;
  background-size: 100%;
}
#qPowers .time{
  background: url('/img/race-assets/powerup-time.png') no-repeat;
  background-size: 100%;
}






table{
/*    border: 1px solid orange;*/
}

#one {    
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    -webkit-animation: scrollone 0.2s infinite linear;

    /* testing */
/*    -webkit-animation: scrollone 0.3s infinite linear;*/
}

#one.stop{
  -webkit-animation: none;
}

#two {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: -260px;
    -webkit-animation: scrolltwo 0.2s infinite linear;

    /* testing */
/*    top: -300px;
    -webkit-animation: scrollone 0.3s infinite linear;*/
}

#two.stop{
  -webkit-animation: none;
}

@-webkit-keyframes scrollone {
  from {
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  
  to {
      transform: translate3d(0,260px,0);
      -webkit-transform: translate3d(0,260px,0);
  }
}

@-webkit-keyframes scrolltwo {
  from {
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  
  to {
      transform: translate3d(0,260px,0);
      -webkit-transform: translate3d(0,260px,0);
  }
}


/*------------------- curr powerups display ----------------*/

#currPowers{
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 12%;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

#currPowers > div{
    position: relative;
}

#currPowers .num{
    position: absolute;
    right: 0px;
    bottom: 5px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 1px 3px;
}

.currPowImg{
    width:100%;
}



/*----------------- top bar -------------------*/

@font-face
{
  font-family: Juicy; 
  src: url('Fonts/monofonto.otf');
}

#score{
  font-family: Juicy;
  text-shadow: 0.1em 0.1em 0 rgba(0,0,0,0.5);
  font-size: 26px;
  font-weight: bold;
  color:white;
  position:absolute;
/*  top:-8px;*/
  margin:0;
  right:18%;
  top:16px;
  z-index: 3;
}

#pauseBtn{
  position: absolute;
  top: 10px;
  width: 14%;
  right: 6px;
  z-index: 2;
}

#gasIcon{
  position: absolute;
  top: 10px;
  width: 14%;
  left: 6px;
  z-index: 2;
}

#gasBar{
  position: absolute;
  top: 15px;
  width: 45%;
  left: 40px;
  z-index: 1;
}

#innerMeter{
    position: absolute;
    z-index: 1;
    background-color: rgba(255,204,0,0);
	background-image: -webkit-linear-gradient(bottom, #da9000, #fffc00);
	background-image: -moz-linear-gradient(bottom, #da9000, #fffc00);
	background-image: -o-linear-gradient(bottom, #da9000, #fffc00);
	background-image: -ms-linear-gradient(bottom, #da9000, #fffc00);
	background-image: linear-gradient(to top, #da9000, #fffc00);
	
	transform: skew(-25deg,0deg);
  -ms-transform: skew(-25deg,0deg); /* IE 9 */
  -webkit-transform: skew(-25deg,0deg); /* Safari and Chrome */
  -o-transform: skew(-25deg,0deg); /* Opera */
  -moz-transform: skew(-25deg,0deg); /* Firefox */
}

#innerMeter.normal{
  -webkit-animation: none;
}

#innerMeter.warning{
  background-color: rgba(255,126,0,0);
  background-image: -webkit-linear-gradient(bottom, #d55602, #fdc875);
  background-image: -moz-linear-gradient(bottom, #d55602, #fdc875);
  background-image: -o-linear-gradient(bottom, #d55602, #fdc875);
  background-image: -ms-linear-gradient(bottom, #d55602, #fdc875);
  background-image: linear-gradient(to top, #d55602, #fdc875);

  -webkit-animation: blinkOne 0.8s infinite alternate; 
}

#innerMeter.danger{
  background-color: rgba(255,0,0,0);
  background-image: -webkit-linear-gradient(bottom, #d50202, #fea89c);
  background-image: -moz-linear-gradient(bottom, #d50202, #fea89c);
  background-image: -o-linear-gradient(bottom, #d50202, #fea89c);
  background-image: -ms-linear-gradient(bottom, #d50202, #fea89c);
  background-image: linear-gradient(to top, #d50202, #fea89c);

  -webkit-animation: blinkTwo 0.3s infinite alternate;  
}


@-webkit-keyframes blinkOne {  
  from { opacity: 1.0; }
  to { opacity: 0.6; }
}

@-webkit-keyframes blinkTwo {  
  from { opacity: 1.0; }
  to { opacity: 0.3; }
}


/* ------------------ start & end screens ------------ */

#start, #end, #instructions, #highscores, #chooseLevelScreen{
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    z-index:10;
    background-color: rgba(0,0,0,.31);
    -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0);
    -moz-box-shadow: inset 0 0 1px rgba(255,255,255,0);
    box-shadow: inset 0 0 1px rgba(255,255,255,0);
    background-image: -webkit-linear-gradient(bottom, #0c0c0c, #999);
    background-image: -moz-linear-gradient(bottom, #0c0c0c, #999);
    background-image: -o-linear-gradient(bottom, #0c0c0c, #999);
    background-image: -ms-linear-gradient(bottom, #0c0c0c, #999);
    background-image: linear-gradient(to top, #0c0c0c, #999);
}

#start{
  z-index:20;
}

.textureOverlay{
  width: 100%;
  height: 100%;
  background: url('/img/race-assets/carbon-bg.png');
  background-size: 4%;
}

.stripe{
  position: absolute;
  height: 10%;
  width: 100%;
  background: url('/img/race-assets/start-stripe.jpg') no-repeat;
  background-size: 100%;
}

#topStripe{
  top: 0;
}

#bottomStripe{
  bottom: 0;
  background-position: bottom left;
}

#startTitle{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 13%;
  background: url('/img/race-assets/start-title.png') top center no-repeat;
  background-size: 80%;
}

#startBtn{
  width: 46%;
  height: 33%;
  position: absolute;
  top: 30%;
  left: 27%;
  background: url('/img/race-assets/start-startbtn.png') no-repeat;
  background-size: 100%;
}
#startBtn:hover, #startBtn:active{
  background: url('/img/race-assets/start-startbtn-a.png') no-repeat;
  background-size: 100%;
}

#startSmallBtns{
  position: absolute;
  width: 100%;
  height: 12%;
  top: 72%;
}

.startScreenBtn{
  float:left;
  height: 100%;
  width: 34%;
  margin: 0 8%;
}

#instructionBtn{
  background: url('/img/race-assets/start-instrbtn.png') top center no-repeat;
  background-size: 100%;
}
#hiScoreBtn{
  background: url('/img/race-assets/start-hiscorebtn.png') top center no-repeat;
  background-size: 100%;
}
#instructionBtn:hover, #instructionBtn:active{
  background: url('/img/race-assets/start-instrbtn-a.png') top center no-repeat;
  background-size: 100%;
}
#hiScoreBtn:hover, #hiScoreBtn:active{
  background: url('/img/race-assets/start-hiscorebtn-a.png') top center no-repeat;
  background-size: 100%;
}

#startGo{
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 1000%;
  color: #fff;
  font-family: Juicy;
  font-weight: bold;
  text-align: center;
  z-index: 10;
}

#gameCanvas{
  position: absolute;
  width: 100%;
  height: 100%;
}

#raceOver{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 5%;
  background: url('/img/race-assets/end-raceover.png') top center no-repeat;
  background-size: 80%;
}

#endScore{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 25%;
  font-family: Juicy;
  text-align: center;
  color: #fff;
  font-size: 300%;
}

#questionScore{
  position: absolute;
  height: 5%;
  width: 100%;
  top: 35%;
  font-family: Juicy;
  text-align: center;
  color: #fff;
  font-size: 150%;
}

#againBtn{
  width: 32%;
  height: 23%;
  position: absolute;
  top: 62%;
  left: 34%;
  background: url('/img/race-assets/end-againbtn.png') no-repeat;
  background-size: 100%;
}

#startOverBtn{
  width: 32%;
  height: 23%;
  position: absolute;
  top: 40%;
  left: 34%;
  background: url('/img/race-assets/end-againbtn.png') no-repeat;
  background-size: 100%;
}

#againBtn:hover, #againBtn:active{
  background: url('/img/race-assets/end-againbtn-a.png') no-repeat;
  background-size: 100%;
}

#homeBtn{
  width: 24%;
  height: 8%;
  position: absolute;
  top: 90%;
  left: 38%;
  background: url('/img/race-assets/homebtn.png') no-repeat;
  background-size: 100%;
}
#homeBtn:hover, #homeBtn:active{
  background: url('/img/race-assets/homebtn-a.png') no-repeat;
  background-size: 100%;
}

.startScreenBtns {
    font-family: Juicy;
    text-decoration:none;
    text-shadow:0 1px 0 #fff;
    display:block;
    width:30%;
    position: absolute;
    height:50px;
    background:#ddd;
    border-radius:20px;
    border:4px double #ccc;
    font-size:120%;
    color:#666;
    line-height:50px;
    text-align:center;
    margin:20px;
}

/* -------- Choose Level Screen -------- */

#chooseLevelScreen{
  display: none;
  z-index:10;
}

#chooseLevelButtons{
  z-index:10;
  position:absolute;
  left:10%;
  top: 25%;
  height:55%;
  width:80%;
  overflow: scroll;
  padding: 0;
}

#backToTeachers {
  position:absolute;
  bottom:10%;
  height:9%;
  width:17%;
  left:10%;
  z-index:10;
  background:url("../img/race-assets/nav-back.png") top center no-repeat;
  display:none;
}

.chooseTeacherTitle{
  width: 100%;
  height: 18%;
  position: relative;
  top: 13%;
  background: url('/img/race-assets/choose-teacher.png') top center no-repeat;
  background-size: 80%;
}
.chooseContentSetTitle{
  width: 100%;
  height: 18%;
  position: relative;
  top: 13%;
  background: url('/img/race-assets/choose-content-set.png') top center no-repeat;
  background-size: 80%;
}

.levelBtn{
  width: 90%;
  left: 10%;
  padding: 1% 5%;
  /*position:absolute;
  top:0px;*/
  margin-bottom: 5%;
  background: rgba(0,0,0,0.5);
  border-radius:10px;
  color: #fff;
}

.levelBtn2{
  width: 70%;
  left: 15%;
  height: 13%;
  position: relative;
  top: 5%;
  margin-bottom: 5%;
}

#basicBeginnerBtn, #basicBeginnerBtn2{
  background: url('/img/race-assets/choose-level-basic.png') top center no-repeat;
  background-size: 100%;
}

#beginnerBtn, #beginnerBtn2{
  background: url('/img/race-assets/choose-level-beginner.png') top center no-repeat;
  background-size: 100%;
}

#intermediateBtn, #intermediateBtn2{
  background: url('/img/race-assets/choose-level-intermediate.png') top center no-repeat;
  background-size: 100%;
}


/* -------- Pause Screen -------- */

#pauseScreen{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  z-index: 100;
  display: none;
}

#resumeBtn{
  background: url('/img/race-assets/resume-button.png') top center no-repeat;
  background-size: 100%;
  width: 56%;
  height: 20%;
  position: absolute;
  top: 25%;
  left: 22%;
}

#endGameBtn{
  background: url('/img/race-assets/endgame-button.png') top center no-repeat;
  background-size: 100%;
  color:white;
  size:30px;
  width: 30%;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 35%;
}



#endGameBtn2{
  background: url('/img/race-assets/endgame-button.png') top center no-repeat;
  background-size: 100%;
  width: 30%;
  height: 10%;
  position: absolute;
  top: 87%;
  left: 35%;
}

/* -------- Rewards screen -------- */

#questionsCompleteScreen{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  z-index: 500;
}

/* -------- Instructions page -------- */

#instructions-howto, #instructions-powers{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 3%;
}

#instructions-howto{
  background: url('../img/race-assets/instructions-howto.png') no-repeat top center;
  display: none;
  background-size: 80%;
}
#instructions-powers{
  background: url('../img/race-assets/instructions-powers.png') no-repeat top center;
  display: none;
  background-size: 75%;
  top: 3.5%;
}

#instructions-nav{
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0;
  display: none;
/*  background-color: red;*/
}

#instructions-nav .left, #instructions-nav .right{
  position: absolute;
  height: 100%;
  width: 7%;
  background-size: 100%;
}

#instructions-nav .left{
  left: 38%;
  background: url('../img/race-assets/instructions-arrowleft.png') top center no-repeat;
  background-size: 100%;
}

#instructions-nav .right{
  left: 55%;
  background: url('../img/race-assets/instructions-arrowright.png') top left no-repeat;
  background-size: 100%;
}

#instructions-howto .slide{
  position: absolute;
  height: 30%;
  width: 13%;
  bottom: 20%;
  left: 35%;
  background: url('../img/race-assets/instructions-slide.png') no-repeat bottom left;
  background-size: 100%;
  -webkit-animation: slide 2s infinite alternate;  
}

@-webkit-keyframes slide {  
  from { left: 35%; }
  to { left: 60%; }
}

#instructions-nav.page1 .left, #instructions-nav.page2 .right{
  opacity: 0.3;
}
#instructions-nav.page1 .right, #instructions-nav.page2 .left{
  opacity: 1;
}

#instructions .back, #highscores .back{
  position: absolute;
  height: 100%;
  width: 17%;
  left: 3%;
  background: url('../img/race-assets/nav-back.png') no-repeat;
  background-size: 100%;
}


/* ------- highscores ------- */

#highscores{
  color: #fff;
}

#highscores .title{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 5%;
  background: url('/img/race-assets/highscores.png') top center no-repeat;
  background-size: 80%;
}

#highscoresList{
  position: absolute;
  width: 80%;
  left: 10%;
  height: 65%;
  top: 20%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5%;
  overflow: scroll;
  display: none;
}

#highscores .back{
  position: absolute;
  top: 90%;
  left: 41.5%;
}

#highscores .none{
  position: absolute;
  top: 40%;
  font-size: 200%;
  width: 100%;
  text-align: center;
}

#highscoresList .line{
  padding: 5% 7%;
  height: 7%;
  border-bottom: 1px solid rgba(255,255,255,0.08);
  font-size: 130%;
  font-weight: bold;
}
#highscoresList .line:last-child{
  border-bottom: none;
}
#highscoresList .line .name{
  float: left;
}
#highscoresList .line .score{
  float: right;
}

/* change tutorial & highscore pages for longer phones */
@media only screen 
and (min-device-aspect-ratio : 16/10) {
  #instructions-howto .slide{
    bottom: 17%;
  }
  #instructions-howto{
    background: url('../img/race-assets/instructions-howto.png') no-repeat top center;
    display: none;
    background-size: 90%;
  }
}

#scores {
    right:10px;
}

#pts{
  margin-left: 10%;
  font-size: 1000%;
  font-weight: bold;
  font-family: Juicy;
  color: #fff;
  position: relative;
  z-index: 10;
  font-size: 30;
}

#explode{
  position: relative;
  width: 30%;
  height: 600px;
/*  background: rgba(0,255,0,0.5);*/
  background: url('/img/race-assets/crash.png') no-repeat;
  background-size: 100% auto;
  z-index: 100;
}

#pts.plus{
  text-shadow:
       3px 3px 0 green,
     -1px -1px 0 green,  
      1px -1px 0 green,
      -1px 1px 0 green,
       1px 1px 0 green;
}
#pts.minus{
  text-shadow:
       3px 3px 0 red,
     -1px -1px 0 red,  
      1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
}

h1 {
    font-family: Juicy;
    font-size:500%;
}

#completedTitleDiv {
  position:relative;
  left:5%;
  height:30%;
  background-image:url("/img/race-assets/you_won_banner.png");
  background-size:90% 100%;
  background-repeat:no-repeat;
}

#completedTitle{
  position:absolute;
  bottom:20%;
  left:28%;
  font-size:200%;
  color:white;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#questionNumberTitle{
  position:absolute;
  top:22%;
  left:16%;
  font-size:100%;
  color:white;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-align: center;
}

#entername {
  width: 80%;
/*  height: 55%;*/
  position: absolute;
  top: 50%;
  left: 10%;
}

#name {
    position:absolute;
    left:0%;
    width:50%;
    height:30px;
    font-size: 150%;
    color: #000;
}
/*
-webkit-input-placeholder{
  color: #000;
}
*/
/*.nameLabel{
  position:absolute;
  top: 15%;
  font-size: 150%;
  color: #fff;
}*/

#sendScoreSuccess{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  color: #FFf;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 150%;
  padding: 7px 0;
  border-radius: 5px;
  display: none;
}

#send {
    position:absolute;
    right:0;
    width:40%;
    height:35px;
}

/*#cancel {
    position:absolute;
    bottom:50%;
    right:10%;
    width:35%;
    height:10%;
}
*/
#send, #cancel{
  display: inline-block;
  padding: 2px 6px;
  margin-bottom: 0;
/*  font-size: 14px;*/
/*  line-height: 20px;*/
  color: #333333;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#portalTitle {
    text-align:left;
    position:relative;
    left:30px;
    color:#F8F8F8;
    text-shadow: 2px 2px #707070;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#titleBar {
background-image: linear-gradient(bottom, rgb(16,180,209) 25%, rgb(125,242,250) 74%);
background-image: -o-linear-gradient(bottom, rgb(16,180,209) 25%, rgb(125,242,250) 74%);
background-image: -moz-linear-gradient(bottom, rgb(16,180,209) 25%, rgb(125,242,250) 74%);
background-image: -webkit-linear-gradient(bottom, rgb(16,180,209) 25%, rgb(125,242,250) 74%);
background-image: -ms-linear-gradient(bottom, rgb(16,180,209) 25%, rgb(125,242,250) 74%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.25, rgb(16,180,209)),
  color-stop(0.74, rgb(125,242,250))
);
}

#myClasses {
  background-color: #686868;
  width : 100%;
  height:60px;
  color:white;
}

#myClassText {
  position:absolute;
  top:0px;
  font-size: 18px;
}

#classText {
  position:absolute;
  font-size: 18px;
}

#studentListText {
  position:absolute;
  font-size: 14px;
}

#teacherClasses {
  position: absolute;
  left:0;
  width:18%;
  height:100%;
  background-color: #E8E8E8;
}

.selectedClass {
  position:relative;
   height:60px;
   width:100%;
  background-color: #00C5CD;
}

.unselectedClass {
  position:relative;
   height:60px;
   width:100%;
background-image: linear-gradient(bottom, rgb(199,199,199) 3%, rgb(235,235,235) 70%);
background-image: -o-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(235,235,235) 70%);
background-image: -moz-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(235,235,235) 70%);
background-image: -webkit-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(235,235,235) 70%);
background-image: -ms-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(235,235,235) 70%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.03, rgb(199,199,199)),
  color-stop(0.7, rgb(235,235,235))
);
}

.selectedStudent {
   height:50px;
   width:100%;
  background-color: #00C5CD;
}

.unselectedStudent {
   height:50px;
   width:100%;
  background-color: rgb(235,235,235);
}

#arrow {
  position:absolute;
  height:40px;
  width:35px;
  top:10px;
  background-image: url("../img/arrow.png");
  right:0px;
  background-repeat: no-repeat;
}

#teacherMain {
  position: absolute;
  right:0;
  width:82%;
  height:100%;
  background-color: #F8F8F8 ;  
}

#classReportHeaderButton {
  position:absolute;
  left:5%;
    width:15%;
    -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   border:none;
}

#studentReportHeaderButton {
  position:absolute;
  left:20%;
  width:20%;
  -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   border:none;
}

.frontTab {
  z-index:2;
  top:6%;
  height:10%;
  background-color: rgb(16,180,209);
}

.backTab {
  z-index:1;
  top:8%;
  height:8%;
  background-color: #686868;
}

 #studentReportTitle {
  font-size: 18px;
  color:white;
 }

#classReportTitle {
  font-size: 18px;
  color:white;
}

#report {
  position:absolute;
  z-index:3;
  left:5%;
  top:15%;
  width:90%;
  height:80%;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #DCDCDC;
  border-top-color: rgb(16,180,209);
  border-top-width: 10px;
}

#classGraph{
  position:absolute;
  right:0px;
  width:100%;
  height:100%;
}

#studentGraph {
  position:absolute;
  right:0px;
  width:80%;
  height:100%;
}

#studentList {
  position:absolute;
  left:0px;
  top:0px;
  width:20%;
}

/* test */
#canvasCover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#banner {
    background-color:black;
    height:25px;
}

.studentScore {
    margin:10%;
}
