/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    /*padding-top: 2%;*/
}

/* Portrait layout (default) */
.app {

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
       text-align: center;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

.lifePic{
    margin-top: 6%;
    margin-left: 6%;
    width:2%;
    height:20%;
}

#score{
    color:white;
    position:absolute;
    top:2%;
    right:8%;
    z-index: 3;
}


#gameCanvas{
    position:absolute;
    top:0%;
}

#screen {
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
    
    overflow: hidden;
    
    background: white;
    
    position: relative;
}

/*img {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
}*/

/* questions */


table {
    width:100%;
    height:100%;
    -moz-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
    text-align:center;
}

#ques{
    position: absolute;
    top: 15%;
    left: 7%;
    z-index: 10;
    font-size: 20px;
    width: 86%;
    height: 70%;
    background-image: url('/img/race-assets/question-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#Q {
    color:white;
    height: 32%;
    text-align: left;
    font-size: 16px;
}

#Q td{
    padding: 5%;
    padding-right: 20%;
}

#popQ .qFeedback{
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 10px;
    width: 80%;
    height: 80%;
}

.qFeedback.correct{
    background: rgba(0,255,0,0.3) url('/img/race-assets/checkmark.png') bottom right no-repeat;
    background-size: 35%;
}
.qFeedback.wrong-right{
    background: rgba(0,255,0,0.3);
}
.qFeedback.wrong-choice{
    background: rgba(255,0,0,0.3);
}

#choice1, #choice2, #choice3, #choice4 {
   width:50%;
   position: relative;
/*   background-color:yellow;*/
}

#choice1:active {
/*    background-color:orange;*/
}

#choice2:active {
/*    background-color:orange;*/
}

#choice3:active {
/*    background-color:orange;*/
}

#choice4:active {
/*    background-color:orange;*/
}

.crossed{
    text-decoration: line-through;
    color: #777;
    font-style: italic;
}

table{
/*    border: 1px solid orange;*/
}

#one {    
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    -webkit-animation: scrollone 0.2s infinite linear;
}

#two {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    top: -260px;
    position: absolute;
    -webkit-animation: scrolltwo 0.2s infinite linear;
}

@-webkit-keyframes scrollone {
  from {
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  
  to {
      transform: translate3d(0,260px,0);
      -webkit-transform: translate3d(0,260px,0);
  }
}

@-webkit-keyframes scrolltwo {
  from {
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  
  to {
      transform: translate3d(0,260px,0);
      -webkit-transform: translate3d(0,260px,0);
  }
}

/* curr powerups display */
#currPowers{
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 12%;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

#currPowers > div{
    position: relative;
}

#currPowers .num{
    position: absolute;
    right: 0px;
    bottom: 5px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 1px 3px;
}

.currPowImg{
    width:100%;
}

@font-face
{
  font-family: Juicy; 
  src: url('Fonts/monofonto.otf');
}

#gasIcon{
  position: absolute;
  top: 10px;
  width: 14%;
  left: 10px;
  z-index: 2;
}

#gasBar{
  position: absolute;
  top: 15px;
  width: 45%;
  left: 25px;
  z-index: 1;
}

#score{
  font-family: Juicy;
  text-shadow: black 0.1em 0.1em 0.1em;
  font-size: 30px;
  font-weight: bold;
  color:white;
  position:absolute;
  top:-8px;
  right:10px;
  z-index: 3;
}
