/* CSS */

body {
  background-color: #eee;
  font-family: Helvetica, Arial, Verdana;
  font-size: 14px;
}

a img {
  border: none;
}
a:hover{
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
/*
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}*/

.container{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 40px;
  padding: 20px 30px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin-left: 40px;
}




.cleared{
  clear:both;
}

.border-free-table td, th {
    border: 0 !important;    
}



.home-left{
  float: left;
  width: 50%;
}
.home-right{
  float: right;
  width: 50%;
}
.home-left img, .home-right img{
  width: 50%;
  margin-left: 20%;
  margin-bottom: 30px;
  margin-top: 20px;
}
.home-left p, .home-right p{
  color: #666;
  margin: 0 50px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 120%;
  font-weight: 100;
}
.home.actions{
  display: inline-block;
  width: 202px;
  position: relative;
  left: 50%;
  margin-left: -120px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.home.actions .login{
  margin-right: 10px;
}


.navbar-inner{
  padding: 0 80px !important;
}
.navbar-inner .brand{
  font-weight: 700;
}




.action-bar{
  overflow: auto;
}

.action-bar .left{
  float: left;
}

.action-bar .right{
  float:right;
  padding-top: 15px;
}

.action-btn img{
  width: 25px;
}
.action-btn:hover{
  opacity: 0.7;
  cursor: pointer;
}
.action-btn.form img{
  margin-top: -15px;
  margin-left: 10px;
}

.number-id{
  background: #777;
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}

/* ----- FORMS ----- */

.control-group.inline { 
    display: inline-block; 
    margin-right: 30px;
} 

.answer-label{
  background: #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 120px;
}

.answer-label.correct{
  background: #CEFCCC;
}

.active-label, .role-label{
  width: 80px !important;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  background: #aaa;
  text-align: center;
  border-radius: 5px;
}
.active-label.show{
  margin-right: 20px;
  float: left;
  margin-top: 3px;
}
.active-label.active{
  background: #77ca5a;
  color: #fff;
}
.active-label.active a{
  color: #fff;
}

.role-label.admin{
  background: #2b76bc;
}
.role-label.teacher{
  background: #c98020;
}

h1{
  margin-bottom: 20px;
}

td.active{
  padding-left: 30px;
}

table.category{
  width: 300px;
}
.table td{
  vertical-align: middle !important;
}
.border-free-table td{
  vertical-align: top !important;
}

/* ----- FORM ERROR ----- */

#error_explanation{
  margin: 30px 0;
  width: 540px;
  border: 1px solid #ff6666;
}

#error_explanation h4{
  background-color: #ff6666;
  color: white;
  margin-top: 0;
  padding: 10px 20px;
}

#error_explanation ul{
  padding: 20px;
}